@model List<Weblog.Web.Models.Weblog.EntryListItemModel>
@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}


@if (Model.Count > 0)
{
    <table class="table">
        <tr>
            <th class="first">ID</th>
            <th>Titel</th>
            <th>Text</th>
            <th>Autor</th>
            <th class="last">Datum</th>
            <th>Aktion</th>
        </tr>

        @foreach (var item in Model)
        {
            String idString = "row" + item.ID;
                        
            <tr id=@idString>
                <td>@item.ID</td>
                <td>@item.Title</td>
                <td>@item.Text</td>
                <td>@item.Author</td>
                <td>@item.DateString</td>
                <td>
                    @using (Ajax.BeginForm(new AjaxOptions() { Url="/Home/DeleteEntry/"+@item.ID, OnSuccess = "SiteHelpers.test("+@item.ID+")" }))
                    {
                        @Html.AntiForgeryToken()
                        <button>Löschen</button>
                    }


                </td>
            </tr>
        }


    </table>

}


