<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="@Html.Action("Keywords", "View")" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/Blog")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="blog-masthead">
        <div class="container">
            <div class="blog-nav">
                @Html.Partial("Navigation") @Html.Partial("LoggedInPart")
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
    <div class="footer">
        <p>@Html.Action("Footer", "View")</p>
    </div>
</body>
</html>
