@model Weblog.Web.Models.Weblog.AddCategoryModel

@{
    ViewBag.Title = "Kategorie hinzufügen";
}
<div class="blog-header">
    <h2>Kategorie hinzufügen</h2>
</div>

@using (Html.BeginForm("AddCategory", "Blog", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form">
        @Html.ValidationSummary()
        <div class="row form-group">
            @Html.LabelFor(m => m.Name, new { @class = "control-label col-sm-3" })
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
        <div class="row">
            <button class="btn btn-primary">Speichern</button>
        </div>
    </div>
}

@Html.Action("DisplayCategories")
