@model Weblog.Web.Models.Weblog.AddEntryModel
@{
    ViewBag.Title = "Blogeintrag verfassen";
}

<div class="blog-header">
    <h2>Blogeintrag verfassen</h2>
</div>

@using (Html.BeginForm("AddEntry", "Blog", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ID)
    <div class="form">
        <div class="row form-group">
            @Html.LabelFor(m => m.Title, new { @class = "control-label col-sm-3" })
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        </div>
        <div class="row form-group">
            @Html.LabelFor(m => m.Text, new { @class = "control-label col-sm-3" })
            @Html.TextAreaFor(m => m.Text, new { @class = "form-control" })
        </div>
        <div class="row categoryRow">

            @if (Model.CategoriesList.Count > 0)
            {
                for (int i = 0; i < Model.CategoriesList.Count; i++)
                {
                    <span class="form-group">

                        @Html.CheckBoxFor(model => model.CategoriesList[i].isElementsCategory)
                        @Html.LabelFor(model => model.CategoriesList[i].isElementsCategory, Model.CategoriesList[i].Name, new { @class = "control-label" })
                        @Html.HiddenFor(m => m.CategoriesList[i].Name)
                        @Html.HiddenFor(m => m.CategoriesList[i].ID)
                    </span>
                }
            }
        </div>
        <div class="row">
            <button class="btn btn-primary">Speichern</button>
        </div>
    </div>
}

