@using Weblog.Web.Models.Weblog
@model List<CategoryModel>
@if (Model.Count > 0)
{
    <table class="table toDeleteIfEmpty">
        <tr>
            <th class="first">ID</th>
            <th>Name</th>
            @if (User.IsInRole("Administrator"))
            {
                <th>Löschen</th>
            }
        </tr>
        @foreach (CategoryModel item in Model)
        {
            String idString = "row" + item.ID;

            <tr id=@idString>
                <td>@item.ID</td>
                <td>@item.Name</td>
                @if (User.IsInRole("Administrator"))
                {
                    <td>
                        @using (Ajax.BeginForm(new AjaxOptions() { Url = "/Blog/DeleteCategory/" + @item.ID, OnSuccess = "SiteHelpers.deleteRow(" + @item.ID + ")" }))
                        {
                            @Html.AntiForgeryToken()
                            <button class="btn btn-danger">Löschen</button>
                        }
                    </td>
                }
            </tr>
        }
    </table>
}