@model Weblog.Web.Models.Weblog.EntryModel

@{
    ViewBag.Title = "Einzelansicht";
}

<div class="blog-header">
    <h2>Einzelansicht</h2>
</div>

<div class="blog-post">
    <h2 class="blog-post-title">@Model.Title</h2>
    <p class="blog-post-meta">@Model.DateString von @Model.Author</p>

    <p>@Model.Text</p>
</div>
@Html.Action("DisplayCommentsForEntry", new { model = Model.Comments })
<br/>
@Html.Action("AddComment", new { entryId = Model.ID })
