@model Weblog.Web.Models.Weblog.DisplayEntryPageModel
@if (Model.Entries.Count > 0)
{
    for (int i = 0; i < Model.Entries.Count; i++)
    {
        var item = Model.Entries[i];

        <div class="blog-post entry">
            <h2 class="blog-post-title">@Html.ActionLink(item.Title, "DisplayEntry", "Blog", new { entryID = item.ID }, null)</h2>
            <p class="blog-post-meta">@item.DateString von @item.Author</p>

            @*
                i % Model.EntriesPerSite  um bei jeder Seite die Post von 0 bis EntriesPerSite zu sortieren.
                < FullEntriesPerSite schaut dann nur noch wie viele davon voll angezeigt werden dürfen
            *@
            @if (((i % Model.EntriesPerSite)) < Model.FullEntriesPerSite)
            {
                 <p>@Html.Raw(item.Text)</p>
            }
            else
            {
                 <p>@Html.Raw(item.TextShort)</p>
                if (item.TextShort.Length > 2)
                {
                    @Html.ActionLink("mehr", "DisplayEntry", "Blog", new { entryID = item.ID }, null)
                }
            }
        </div>
    }
}
else
{
    <p>Hier könnten ihre Blogeinträge stehen.</p>
}


