@model Weblog.Web.Models.Weblog.DisplayEntriesModel
@Html.HiddenFor(m => m.EntryList)

<div id="displayEntriesContainer">
    @Html.Action("DisplayEntryPage", new { pageNumber = Model.CurrentPage, entryList = Model.EntryList })
</div>

<div class="row">
    @if (Model.EntryList.Count > Model.EntriesPerSite)
    {
        {
            <ul class="pagination">
                <li id="pagination-previous" class="pagination-element">
                    <a href="#" onclick="@Model.CurrentPage=4">&laquo;</a>
                </li>

                @for (int i = 0; (i * 2) < 3; i++)
                {
                    <li id="pagination-@i" class="pagination-element">
                        <a href="#" onclick="EntryPagination.goToPage(@i)">@(i + 1)</a>
                    </li>
                }

                <li id="pagination-next" class="pagination-element">
                    @Ajax.ActionLink("»", "DisplayEntryPage", new { pageNumber = 3, model1=this}, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "displayEntriesContainer", InsertionMode = InsertionMode.Replace })
                </li>
            </ul>
        }
    }
</div>
