@model Weblog.Web.Models.Account.RegisterModel

@{
    ViewBag.Title = "Registrieren";
}

@using (Html.BeginForm())
{
    <div class="blog-header">
        <h2>Registrieren</h2>
    </div>

    <div class="form">
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()

        <div class="row form-group">
            @Html.LabelFor(m => m.UserName, new { @class = "control-label col-sm-3" })
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
        <div class="row form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label col-sm-3" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
        <div class="row form-group">
            @Html.LabelFor(m => m.Password, new { @class = "control-label col-sm-3" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
        <div class="row">
            <button class="btn btn-primary">Registrieren</button>
        </div>
    </div>
}
